<div id="order_state_code_wrapper">
  <% parent_region ||= params[:parent_region] %>
  <% parent_city ||= params[:parent_city] %>
  <% cities = CS.cities(parent_city, parent_region) %>
  <% if cities.nil? %>
    <%= text_field(:event, :city, placeholder: t('event.enter_text_here'), required: true) %>
  <% else %>
     <i class="select-arrow"></i>
     <%= select(:event, :city, cities) %>
  <% end %>
</div>
<%= javascript_tag defer: 'defer' do -%>
  var cityText = '<%= f.object.city %>';
  if (cityText != null) {
    try {
      $('#event_city').val(cityText);
    } catch(err) {}
  }
<% end %>
