<div class="modal fade" id="alertModal" role="dialog" style="top: 25%">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body" style="color: #656565">
          <p> This feature will be added soon</p>
        </div>
      </div>
    </div>
  </div>
</div>
