<div class="modal fade" id="userLikeModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h6 class="modal-title"><i class="fa fa-thumbs-o-up"></i> <span> <%= t('global.all') %></span></h6>
        </div>
        <div class="modal-body" style="height:300px;overflow-y:scroll">
        </div>
      </div>
    </div>
  </div>
</div>
