 <center class= "like-page"><div class="c100 p<%= @idea.like_per_views %> small">
  <span><%= @idea.like_per_views %>%</span>
  <div class="slice">
    <div class="bar"></div>
    <div class="fill"></div>
  </div>
</div></center>