.fund-detail-content{
	background: #fff;
	width: 100%;
	padding: 20px 25px;
	margin-top: 10px;
	.funding-goal {
		float: left;
		font-size: 20px;
		background: #FBFBFB;
		border: 1px solid #eee;
		padding: 8px 15px;
		border-radius: 4px;
		color: #333;
		img{
			width: 28px;
			margin-right: 10px;
			position: relative;
			top: -2px;
		}
	}
	.user-info{
		float: left;
		text-align: center;
		padding: 0px 20px;
		margin-top: -60px;
		.img-user{
			width: 140px;
			height: 140px;
			border-radius: 50%;
		}
		h4{
			font-weight: 600;
			margin-top: 10px;
		}
		.info-group{
			h5{
				display: inline-block;
				color: #c3c3c3;
				margin-right: 15px;
				i{
					color: #FDCF30;
					margin-right: 10px;
					font-size: 15px;
				}
			}
		}
	}
	.btn-request{
		text-transform: uppercase;
		color: #4B462E;
		background: #FCCE2F;
		padding: 8px 15px 6px;
		border-radius: 10px;
		font-size: 11px;
		font-weight: 600;
		float: right;
	}
	.sub-info-section{
		padding: 0px 50px;
		margin-top: 25px;
		.title-group{
			float: left;
		}
		h5{
			color: #FDCF30;
			font-size: 14px;
			display: inline-block;
			margin-right: 10px;
		}
		.sub-title{
			color: #D7D7D7;
			font-weight: 600;
			font-size: 18px;
		}
		.sub-info{
			float: right;

			h6{
				display: inline-block;
				margin-left: 50px;
				img{
					margin-right: 5px;
					width: 20px;
				}

			}
		}
	}
	.content-section{
		border-bottom: 1px solid #f6f6f6;
		padding: 30px 0px;
		.title{
			font-size: 18px;
			font-weight: 600;
			margin-top: 10px;
			img{
				width: 25px;
				margin-right: 15px;
				position: relative;
				top: -4px;
			}
		}
		.main-content-section{
			padding-left: 40px;
			p{
				color: #969696;
				font-size: 15px;
				font-weight: 300;
				img{
					position: relative;
					top: -3px;
					margin-right: 10px;
				}
			}
			.text-small{
				font-size: 13px;
				margin-top: 5px;
				img{
					width: 11px;
				}
			}
			ul{
				list-style: none;
				padding-left: 0px;
				li{
					display: inline-block;
					margin-right: 50px;
					.sub-title{
						margin-bottom: 5px;
					}
				}
			}
			table{
				border-top: 1px solid #d8d8d8;
				border-right: 1px solid #d8d8d8;
				margin-top: 10px;
				tr{
					th,td{
						font-size: 15px;
						padding: 8px 30px 12px 20px;
						border-left: 1px solid #d8d8d8;
					}
					th{
						background: #F0F0F0;
					}
					td{
						color: #A0A0A0;
						font-weight: 300;
					}
					&:last-child{
						td{
							border-bottom: 1px solid #d8d8d8;
						}
					}
				}
			}
			.video{
				clear: left;
				margin-top: 20px;
				img{
					margin-right: 10px;
					width: 97px;
					height: 69px;
				}
			}
		}
		.sub-title{
			font-size: 15px;
			font-weight: 600;
			margin-top: 20px;
		}
	}
	.legal-section{
		float: left;
		width: 50%;
	}
}
.fund-startup-element{
	background: #fff;
	margin-top: 10px;
	position: relative;
	border: 1px solid #e6e6e6;
	.info-section{
		background: #333;
		text-align: center;
		float: left;
		padding: 10px 10px;
		.img-user{
			width: 90px;
			height: 90px;
			border-radius: 50%;
			margin-bottom: 30px;
		}
		h6{
			color: #DADADA;
			text-align: left;
			padding-left: 25px;
			font-size: 13px;
			img{
				position: relative;
				top: -3px;
				margin-right: 5px;
			}
		}
		.text-icon{
			padding-left: 0px;
		}
		.view{
			color: #636363;
		}
		.sub-info{
			clear: left;
			h6{
				float: left;
				width: 90px;
				padding-left: 0px;
				font-size: 10px;
				margin-right: 20px;
				img{
					width: 15px;
					margin-right: 10px;
				}
			}
		}
	}
	.main-section{
		padding: 20px;
		float: left;
		.title-01{
			color: #C8C8C8;
			font-size: 15px;
			font-weight: 300;
		}
		.title-02{
			color: #FCCD2E;
			font-size: 19px;
			font-weight: 400;
			margin-bottom: 30px;
		}
		.info-element{
			h6{
				display: inline-block;
				font-size: 15px;
				margin-right: 80px;
				span{
					color: #828282;
				}
				.text{
					color: #555;
				}
			}
		}
		.txt-funding{
			font-size: 22px;
			padding-left: 10px;
			margin-top: 20px;
			img{
				width: 26px;
				margin-right: 15px;
				position: relative;
				top: -3px;
			}
		}
		.btn-bar {
			width: 45px;
			position: absolute;
			right: 5px;
			bottom: 5px;
			img{
				width: 100%;
			}
		}
	}
}